@model ERP_IMR.Models.Deneme.BSMIMRROTHEADCONTENT

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>BSMIMRROTHEADCONTENT</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="COMCODE" class="control-label"></label>
                <input asp-for="COMCODE" class="form-control" />
                <span asp-validation-for="COMCODE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ROTDOCTYPE" class="control-label"></label>
                <input asp-for="ROTDOCTYPE" class="form-control" />
                <span asp-validation-for="ROTDOCTYPE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ROTDOCNUM" class="control-label"></label>
                <input asp-for="ROTDOCNUM" class="form-control" />
                <span asp-validation-for="ROTDOCNUM" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ROTDOCFROM" class="control-label"></label>
                <input asp-for="ROTDOCFROM" class="form-control" />
                <span asp-validation-for="ROTDOCFROM" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ROTDOCUNTIL" class="control-label"></label>
                <input asp-for="ROTDOCUNTIL" class="form-control" />
                <span asp-validation-for="ROTDOCUNTIL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MATDOCTYPE" class="control-label"></label>
                <input asp-for="MATDOCTYPE" class="form-control" />
                <span asp-validation-for="MATDOCTYPE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MATDOCNUM" class="control-label"></label>
                <input asp-for="MATDOCNUM" class="form-control" />
                <span asp-validation-for="MATDOCNUM" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QUANTITY" class="control-label"></label>
                <input asp-for="QUANTITY" class="form-control" />
                <span asp-validation-for="QUANTITY" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ISDELETED" /> @Html.DisplayNameFor(model => model.ISDELETED)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ISPASSIVE" /> @Html.DisplayNameFor(model => model.ISPASSIVE)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="DRAWNUM" class="control-label"></label>
                <input asp-for="DRAWNUM" class="form-control" />
                <span asp-validation-for="DRAWNUM" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OPRNUM" class="control-label"></label>
                <input asp-for="OPRNUM" class="form-control" />
                <span asp-validation-for="OPRNUM" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BOMDOCTYPE" class="control-label"></label>
                <input asp-for="BOMDOCTYPE" class="form-control" />
                <span asp-validation-for="BOMDOCTYPE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BOMDOCNUM" class="control-label"></label>
                <input asp-for="BOMDOCNUM" class="form-control" />
                <span asp-validation-for="BOMDOCNUM" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CONTENTNUM" class="control-label"></label>
                <input asp-for="CONTENTNUM" class="form-control" />
                <span asp-validation-for="CONTENTNUM" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="COMPONENT" class="control-label"></label>
                <input asp-for="COMPONENT" class="form-control" />
                <span asp-validation-for="COMPONENT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WCMDOCTYPE" class="control-label"></label>
                <input asp-for="WCMDOCTYPE" class="form-control" />
                <span asp-validation-for="WCMDOCTYPE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WCMDOCNUM" class="control-label"></label>
                <input asp-for="WCMDOCNUM" class="form-control" />
                <span asp-validation-for="WCMDOCNUM" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OPRDOCTYPE" class="control-label"></label>
                <input asp-for="OPRDOCTYPE" class="form-control" />
                <span asp-validation-for="OPRDOCTYPE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SETUPTIME" class="control-label"></label>
                <input asp-for="SETUPTIME" class="form-control" />
                <span asp-validation-for="SETUPTIME" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MACHINETIME" class="control-label"></label>
                <input asp-for="MACHINETIME" class="form-control" />
                <span asp-validation-for="MACHINETIME" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LABOURTIME" class="control-label"></label>
                <input asp-for="LABOURTIME" class="form-control" />
                <span asp-validation-for="LABOURTIME" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

