@model ERP_IMR.ViewModels.İşMerkeziViewModel

@{
    ViewData["Title"] = "WCMCreate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>


<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="COMCODE" class="control-label"></label>
                <input asp-for="COMCODE" class="form-control" />
                <span asp-validation-for="COMCODE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WCMDOCTYPE" class="control-label"></label>
                <input asp-for="WCMDOCTYPE" class="form-control" />
                <span asp-validation-for="WCMDOCTYPE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WCMDOCNUM" class="control-label"></label>
                <input asp-for="WCMDOCNUM" class="form-control" />
                <span asp-validation-for="WCMDOCNUM" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WCMDOCFROM" class="control-label"></label>
                <input asp-for="WCMDOCFROM" class="form-control" />
                <span asp-validation-for="WCMDOCFROM" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WCMDOCUNTIL" class="control-label"></label>
                <input asp-for="WCMDOCUNTIL" class="form-control" />
                <span asp-validation-for="WCMDOCUNTIL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MAINWCMDOCTYPE" class="control-label"></label>
                <input asp-for="MAINWCMDOCTYPE" class="form-control" />
                <span asp-validation-for="MAINWCMDOCTYPE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MAINWCMDOCNUM" class="control-label"></label>
                <input asp-for="MAINWCMDOCNUM" class="form-control" />
                <span asp-validation-for="MAINWCMDOCNUM" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CCMDOCTYPE" class="control-label"></label>
                <input asp-for="CCMDOCTYPE" class="form-control" />
                <span asp-validation-for="CCMDOCTYPE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CCMDOCNUM" class="control-label"></label>
                <input asp-for="CCMDOCNUM" class="form-control" />
                <span asp-validation-for="CCMDOCNUM" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WORKTIME" class="control-label"></label>
                <input asp-for="WORKTIME" class="form-control" />
                <span asp-validation-for="WORKTIME" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="ISPASSIVE" class="control-label"></label>
                <input asp-for="ISPASSIVE" class="form-control" />
                <span asp-validation-for="ISPASSIVE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WCMSTEXT" class="control-label"></label>
                <input asp-for="WCMSTEXT" class="form-control" />
                <span asp-validation-for="WCMSTEXT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OPRDOCTYPE" class="control-label"></label>
                <input asp-for="OPRDOCTYPE" class="form-control" />
                <span asp-validation-for="OPRDOCTYPE" class="text-danger"></span>
            </div>
            
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ISDELETED" /> @Html.DisplayNameFor(model => model.ISDELETED)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ISPASSIVE" /> @Html.DisplayNameFor(model => model.ISPASSIVE)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


