@model ERP_IMR.Models.Deneme.BSMIMRCCMHEADTEXT

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>BSMIMRCCMHEADTEXT</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="COMCODE" class="control-label"></label>
                <input asp-for="COMCODE" class="form-control" />
                <span asp-validation-for="COMCODE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CCMDOCTYPE" class="control-label"></label>
                <input asp-for="CCMDOCTYPE" class="form-control" />
                <span asp-validation-for="CCMDOCTYPE" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="CCMDOCNUM" />
            <div class="form-group">
                <label asp-for="CCMDOCFROM" class="control-label"></label>
                <input asp-for="CCMDOCFROM" class="form-control" />
                <span asp-validation-for="CCMDOCFROM" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CCMDOCUNTIL" class="control-label"></label>
                <input asp-for="CCMDOCUNTIL" class="form-control" />
                <span asp-validation-for="CCMDOCUNTIL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MAINCCMDOCTYPE" class="control-label"></label>
                <input asp-for="MAINCCMDOCTYPE" class="form-control" />
                <span asp-validation-for="MAINCCMDOCTYPE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MAINCCMDOCNUM" class="control-label"></label>
                <input asp-for="MAINCCMDOCNUM" class="form-control" />
                <span asp-validation-for="MAINCCMDOCNUM" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ISDELETED" /> @Html.DisplayNameFor(model => model.ISDELETED)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ISPASSIVE" /> @Html.DisplayNameFor(model => model.ISPASSIVE)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="LANCODE" class="control-label"></label>
                <input asp-for="LANCODE" class="form-control" />
                <span asp-validation-for="LANCODE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CCMSTEXT" class="control-label"></label>
                <input asp-for="CCMSTEXT" class="form-control" />
                <span asp-validation-for="CCMSTEXT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CCMLTEXT" class="control-label"></label>
                <input asp-for="CCMLTEXT" class="form-control" />
                <span asp-validation-for="CCMLTEXT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

