
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Support Layout</title>
    <style>
        h2 {
            text-align: center;
            color: darkslategrey;
        }

        .support-button {
            padding: 10px;
            background-color: #7e3338;
            color: #fff;
            border: none;
            border-radius: 5px;
            font-size: 14px;
            cursor: pointer;
            text-align: center;
            transition: background-color 0.3s;
        }

            .support-button:hover {
                background-color: #a14045;
            }

            .support-button:focus {
                outline: none;
            }

        .support-buttons-container {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(3, auto);
            gap: 20px;
            padding: 20px;
            max-width: 800px;
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <h2>Support</h2>
    <div class="support-buttons-container">
        <a heref class="support-button text-light" asp-area="" asp-controller="BSMIMRGEN001" asp-action="Index">Firma</a>
        <a heref class="support-button text-light" asp-area="" asp-controller="BSMIMRGEN004" asp-action="Index">Şehir</a>
        <a heref class="support-button text-light" asp-area="" asp-controller="BSMIMRWCM001" asp-action="Index">İş Merkezi Tipi</a>
        <a heref class="support-button text-light" asp-area="" asp-controller="BSMIMRROT001" asp-action="Index">Rota Tipi</a>
        <a heref class="support-button text-light" asp-area="" asp-controller="BSMIMRGEN003" asp-action="Index">Ülke</a>
        <a heref class="support-button text-light" asp-area="" asp-controller="BSMIMRCCM001" asp-action="Index">Maliyet Merkezi</a>
        <a heref class="support-button text-light" asp-area="" asp-controller="BSMIMROPR001" asp-action="Index">Operasyon Tipi</a>
        <a heref class="support-button text-light" asp-area="" asp-controller="BSMIMRBOM001" asp-action="Index">Ürün Ağacı</a>
        <a heref class="support-button text-light" asp-area="" asp-controller="BSMIMRGEN002" asp-action="Index">Dil</a>
        <a heref class="support-button text-light" asp-area="" asp-controller="BSMIMRGEN005" asp-action="Index">Birim</a>
        <a heref class="support-button text-light" asp-area="" asp-controller="BSMIMRMAT001" asp-action="Index">Malzeme Tipi</a>
    </div>
</body>
</html>


